/* Format for applying styling rules */
[selector] {
  [property]: [value];
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  border-radius: 0;
}


input {
  border-radius: 0;
}

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: Arial, sans-serif;
  letter-spacing: 0.045rem;
  margin: 0;
  padding: 0.6rem;
  background: white;
  overflow-x: hidden;
  width: 100%;
}



button,
input,
select {
  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

header {
  display: block;
  clear: both;
}

header::after,
article::after  {
  content: '';
  display: table;
  clear: both;
}

/* Global Styles go here */
body {
  background: white;
  color: black;

}



html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


@media (max-width: 800px) {
  .desktop-only {
    display: none;
  }
}

.text {
  max-width: 32rem;
}

p {
  margin: 0 0 1.3rem;
}


a {
  text-decoration: underline;
  color: black;
  color: inherit;
  transition: 0s background-color;
}

a:hover:after {
    content: url('puriri_moth_by_ashcrimson0803_d8jya83-fullview.jpg'); /* no need for qoutes */
    position: absolute;
    background-size: cover;
    background-attachment: inherit;
    top: 0;
    margin: 0 auto;
    z-index: 10;

}

a:hover {
  transition-delay: 10s;
}


#myVideo {
  margin: 0 auto;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.moth-container {
  top: 0;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  background-size: 100% 100%;
  min-height: 100vh;
  background-image: url('moth-outline.png');
  background-repeat: no-repeat;
}
